<p><%= @appointment.full_name %> 様</p>
<p>かけはし糖尿病・甲状腺クリニックをご予約いただきましてありがとうございます。
ご予約内容は以下の通りで承りました。</p>

<p>予約のキャンセル・変更はメールにてご連絡ください．
kekehashi.dm+yoyaku@gmail.com</p>

<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
【ご予約内容】<br>
■<%= @menu.department %>外来<br>
■予約日時：<%= I18n.l @menu.start_at, format: :full_date %><br>
■氏名：<%= @appointment.full_name %><br>
■シメイ：<%= @appointment.full_kana_name %><br>
■生年月日：<%= @appointment.birthday %><br>
■電話番号：<%= @appointment.phone_number %><br>
■メールアドレス：<%= @appointment.email %><br>
■診察券番号：<%= @appointment.clinical_number %><br>
■受診歴：<% if @appointment.is_first_visit then%>なし<% else %>あり<% end %><br>
■受診理由：<%= @appointment.reason %><br>
■診察前に伝えておきたいこと：<%= @appointment.free_comment %><br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>
    
<p>当日は保険証・医療証・お薬手帳をお持ちの上ご来院ください。<br>
予約のキャンセル・変更はお電話・メールにてご連絡ください。<br>
kekehashi.dm+yoyaku@gmail.com<br>
それでは当日お待ちしております。。</p>

<p>かけはし糖尿病・甲状腺クリニック<br>
〒453-0832<br>
名古屋市中村区乾出町２丁目３５番地<br>
<p>※このメールにお心当たりのない方は、 本メールを破棄してください。</p>
